body {
    background-color: white;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #ffd6d1; color: #333}

ul.topnav li.left {float: left;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.footer {
    background:#333;
}

.ExploreBtn {
    background: #ffd6d1;
    border: none;
    color: #333;
}

.WelcomeTxt {
    color: #111;
    font-family: "Mongolian Baiti";
}

/*.va-logo-container {
    background: #ffd6d1;
    no-repeat:50% 30%;
    margin-bottom: 20px;
    color: white;
    height:295px;
    text-align:center;
}*/

/*.va-logo-container {
    position: relative;
}

.va-logo-container .top_pic {
    position: absolute;
    text-align: center;

    top: 0; bottom:0; left: 38%; right:40%;

    z-index: 1;
}*/



.va_logo {
    width: 300px;
    height: 300px;
}

.va_logo_small {
    width: 18px;
    height:18px;
}

* {
    border-radius: 0 !important;}

#content_blog .row > h1 {
    font-size: 34px;
    line-height: 60px;
    font-weight: 200;
    margin: 0;
    padding: 20px 0

}

.blog_body{

    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

#body_align{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}


